In [34]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import numpy as np
import seaborn as sns
data= pd.read_csv('Market_Basket_AR.csv', usecols = range(10))
data.head(10)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,whole wheat pasta,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,soup,light cream,shallot,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,frozen vegetables,spaghetti,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,eggs,pet food,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
#stack() được sử dụng để chuyển đổi các giá trị trong dataframe thành dạng Series,apply(pd.Series) được sử dụng để áp dụng stack() cho từng cột trong dataframe
#sum(level=0) được sử dụng để tính tổng số lần xuất hiện của mỗi mặt hàng trong các giao dịch.
#get_dummies() được sử dụng để chuyển đổi dữ liệu về dạng 0,1.
df = data.copy()
df = pd.get_dummies(data.apply(pd.Series).stack()).sum(level=0)

df

C:\Users\Thuong\AppData\Local\Temp\ipykernel_15180\3445213885.py:5: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df = pd.get_dummies(data.apply(pd.Series).stack()).sum(level=0)

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [45]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df1 = pd.DataFrame(te_ary, columns=te.columns_)
df1

,,a,b,c,d,e,f,g,h,i,...,o,p,r,s,t,u,v,w,x,y
0,False,False,False,False,False,False,False,False,True,True,...,False,True,True,True,False,False,False,False,False,False
1,False,True,False,False,True,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
2,False,True,False,True,True,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
3,True,True,True,False,False,True,False,True,False,True,...,False,False,False,True,True,False,True,False,True,False
4,True,True,False,False,False,True,False,True,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [46]:
# tìm tập mục phổ biến 
frequent_itemsets = apriori(df1, min_support = 0.3,use_colnames = True )
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [47]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4)

ValueError: The input DataFrame `df` containing the frequent itemsets is empty.